# READING FROM CSV

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store csv filepath in a variable
#kaggle was used to find the csv
#https://www.kaggle.com/garyrogers/nhl20192020faceoffdata
faceoff_data = "Resources/faceoff_data.csv"
faceoff_data_df = pd.read_csv(faceoff_data)

In [3]:
#display table
faceoff_data_df

,game_id,season,game_start_time,game_tz,play_id,game_time,description,period,coordinates,player,team,opponent,opposing_team,home_ice,power_play,penelty_kill,zone,score_diff,win
0,2019020001,20192020,2019-10-02T23:00:00Z,EST,3,0,John Tavares faceoff won against Colin White,1,"0.0,0.0",John Tavares,TOR,Colin White,OTT,True,False,False,NEUTRAL_ZONE,0,True
1,2019020001,20192020,2019-10-02T23:00:00Z,EST,3,0,John Tavares faceoff won against Colin White,1,"0.0,0.0",Colin White,OTT,John Tavares,TOR,False,False,False,NEUTRAL_ZONE,0,False
2,2019020001,20192020,2019-10-02T23:00:00Z,EST,5,25,Chris Tierney faceoff won against William Nyla...,1,"0.0,0.0",William Nylander,TOR,Chris Tierney,OTT,True,False,False,NEUTRAL_ZONE,-1,False
3,2019020001,20192020,2019-10-02T23:00:00Z,EST,5,25,Chris Tierney faceoff won against William Nyla...,1,"0.0,0.0",Chris Tierney,OTT,William Nylander,TOR,False,False,False,NEUTRAL_ZONE,1,True
4,2019020001,20192020,2019-10-02T23:00:00Z,EST,8,38,Artem Anisimov faceoff won against Alexander K...,1,"69.0,-22.0",Alexander Kerfoot,TOR,Artem Anisimov,OTT,True,False,False,ATTACKING_ZONE,-1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7685,2019020984,20192020,2020-02-28T00:30:00Z,EST,293,3435,Sean Kuraly faceoff won against Joe Pavelski,3,"-69.0,22.0",Joe Pavelski,DAL,Sean Kuraly,BOS,False,False,False,ATTACKING_ZONE,-2,False
7686,2019020984,20192020,2020-02-28T00:30:00Z,EST,298,3456,Patrice Bergeron faceoff won against Jason Dic...,3,"0.0,0.0",Patrice Bergeron,BOS,Jason Dickinson,DAL,True,False,False,NEUTRAL_ZONE,1,True
7687,2019020984,20192020,2020-02-28T00:30:00Z,EST,298,3456,Patrice Bergeron faceoff won against Jason Dic...,3,"0.0,0.0",Jason Dickinson,DAL,Patrice Bergeron,BOS,False,False,False,NEUTRAL_ZONE,-1,False
7688,2019020984,20192020,2020-02-28T00:30:00Z,EST,301,3527,Patrice Bergeron faceoff won against Joe Pavelski,3,"-69.0,22.0",Patrice Bergeron,BOS,Joe Pavelski,DAL,True,False,False,DEFENDING_ZONE,1,True
7689,2019020984,20192020,2020-02-28T00:30:00Z,EST,301,3527,Patrice Bergeron faceoff won against Joe Pavelski,3,"-69.0,22.0",Joe Pavelski,DAL,Patrice Bergeron,BOS,False,False,False,ATTACKING_ZONE,-1,False

In [4]:
#grab just the columns wanted
faceoff_data_df = faceoff_data_df[['player','team','win']]
faceoff_data_df

                 player team    win
0          John Tavares  TOR   True
1           Colin White  OTT  False
2      William Nylander  TOR  False
3         Chris Tierney  OTT   True
4     Alexander Kerfoot  TOR  False
...                 ...  ...    ...
7685       Joe Pavelski  DAL  False
7686   Patrice Bergeron  BOS   True
7687    Jason Dickinson  DAL  False
7688   Patrice Bergeron  BOS   True
7689       Joe Pavelski  DAL  False

[7690 rows x 3 columns]

In [5]:
#find only the faceoff wins
win_data = faceoff_data_df.loc[(faceoff_data_df["win"] == True), :]
win_data

                player team   win
0         John Tavares  TOR  True
3        Chris Tierney  OTT  True
5       Artem Anisimov  OTT  True
6         John Tavares  TOR  True
9        Chris Tierney  OTT  True
...                ...  ...   ...
7680      David Krejci  BOS  True
7682  Patrice Bergeron  BOS  True
7684       Sean Kuraly  BOS  True
7686  Patrice Bergeron  BOS  True
7688  Patrice Bergeron  BOS  True

[3833 rows x 3 columns]

In [6]:
#group by player and team
grouped_team_info = win_data.groupby(['player','team'])
grouped_team_info

In [7]:
#group by the total wins so there is no repeat players and reset the index
faceoff_win_data = grouped_team_info[['win']].sum()
faceoffs__ = faceoff_win_data.reset_index()
faceoffs__

            player team  win
0        Adam Erne  DET    2
1    Adam Gaudette  VAN   10
2    Adam Henrique  ANA    7
3       Adam Lowry  WPG   10
4     Adrian Kempe  LAK    2
..             ...  ...  ...
238   Yanni Gourde  TBL    4
239     Zach Hyman  TOR    1
240    Zach Parise  MIN    1
241  Zach Senyshyn  BOS    1
242     Zack Smith  CHI    1

[243 rows x 3 columns]

In [8]:
#sort the win column so the player with the most faceoffs wins is on top
faceoff_sort = faceoffs__.sort_values('win', ascending=False)
faceoff_sort = faceoff_sort.reset_index(drop=True)
faceoff_sort.head(50)

                 player team  win
0      Patrice Bergeron  BOS  708
1          David Krejci  BOS  342
2         Charlie Coyle  BOS  297
3           Sean Kuraly  BOS  240
4          Par Lindholm  BOS  123
5          Chris Wagner  BOS  114
6       Phillip Danault  MTL   40
7           Jack Eichel  BUF   38
8        Leon Draisaitl  EDM   37
9   Jean-Gabriel Pageau  OTT   36
10        Sidney Crosby  PIT   33
11           Lars Eller  WSH   32
12       Jonathan Toews  CHI   32
13      Auston Matthews  TOR   32
14    Nicklas Backstrom  WSH   31
15          Ryan Strome  NYR   30
16        Chris Tierney  OTT   29
17        Ryan O'Reilly  STL   27
18             Max Domi  MTL   27
19        Nico Hischier  NJD   27
20         John Tavares  TOR   25
21         Dylan Larkin  DET   23
22        Teddy Blueger  PIT   23
23    Frederik Gauthier  TOR   22
24            Bo Horvat  VAN   22
25           Eric Staal  MIN   21
26        Claude Giroux  PHI   21
27        Evgeni Malkin  PIT   20
28         Travis Zajac  NJD   20
29        Brad Marchand  BOS   19
30         Boone Jenner  CBJ   19
31    Valtteri Filppula  DET   19
32     Evgeny Kuznetsov  WSH   19
33       Mark Scheifele  WPG   18
34        Ryan Johansen  NSH   18
35          Nick Bonino  NSH   18
36          Nick Suzuki  MTL   18
37         Paul Stastny  VGK   18
38        Nate Thompson  MTL   18
39          Colin White  OTT   18
40         Derek Stepan  ARI   17
41        Brayden Point  TBL   17
42    Aleksander Barkov  FLA   17
43         Brock Nelson  NYI   17
44          Radek Faksa  DAL   17
45           Jay Beagle  VAN   16
46         Sean Monahan  CGY   16
47      Mikael Backlund  CGY   16
48        Riley Sheahan  EDM   15
49         Jordan Staal  CAR   15

In [9]:
#only pull the ones with more than 30 faceoff wins
over_30_wins = faceoff_sort.loc[(faceoff_sort["win"] > 30), :]
over_30_wins

                 player team  win
0      Patrice Bergeron  BOS  708
1          David Krejci  BOS  342
2         Charlie Coyle  BOS  297
3           Sean Kuraly  BOS  240
4          Par Lindholm  BOS  123
5          Chris Wagner  BOS  114
6       Phillip Danault  MTL   40
7           Jack Eichel  BUF   38
8        Leon Draisaitl  EDM   37
9   Jean-Gabriel Pageau  OTT   36
10        Sidney Crosby  PIT   33
11           Lars Eller  WSH   32
12       Jonathan Toews  CHI   32
13      Auston Matthews  TOR   32
14    Nicklas Backstrom  WSH   31

In [10]:
#import the city abbreviation table to merge with above
import import_ipynb as ipynb
from abbrevname import city_abbrev
city_abbrev

importing Jupyter notebook from abbrevname.ipynb

    team          city
0    ANA       Anaheim
1    ATL       Atlanta
2    BOS        Boston
3    BUF       Buffalo
4    CAR      Carolina
5    CBJ      Columbus
6    CGY       Calgary
7    CHI       Chicago
8    COL      Colorado
9    DAL        Dallas
10   DET       Detroit
11   EDM      Edmonton
12   FLA       Florida
13   HFD      Hartford
14    LA   Los Angeles
15   MIN     Minnesota
16  MINS     Minnesota
17   MTL      Montreal
18   NAS     Nashville
19    NJ    New Jersey
20   NYI  NY Islanders
21   NYR    NY Rangers
22   OTT        Ottawa
23   PHI  Philadelphia
24   PHX       Phoenix
25   PIT    Pittsburgh
26   QUE        Quebec
27    SJ      San Jose
28   STL     St. Louis
29    TB     Tampa Bay
30   TOR       Toronto
31   VAN     Vancouver
32   WPG      Winnipeg
33   WSH    Washington

In [11]:
#merge the two tables
team_info = pd.merge(over_30_wins,city_abbrev, on='team',how='left')
team_info

                 player team  win        city
0      Patrice Bergeron  BOS  708      Boston
1          David Krejci  BOS  342      Boston
2         Charlie Coyle  BOS  297      Boston
3           Sean Kuraly  BOS  240      Boston
4          Par Lindholm  BOS  123      Boston
5          Chris Wagner  BOS  114      Boston
6       Phillip Danault  MTL   40    Montreal
7           Jack Eichel  BUF   38     Buffalo
8        Leon Draisaitl  EDM   37    Edmonton
9   Jean-Gabriel Pageau  OTT   36      Ottawa
10        Sidney Crosby  PIT   33  Pittsburgh
11           Lars Eller  WSH   32  Washington
12       Jonathan Toews  CHI   32     Chicago
13      Auston Matthews  TOR   32     Toronto
14    Nicklas Backstrom  WSH   31  Washington